<html>
  <head>
    <title>Airport Bird Deterrent project</title>
    <link rel="stylesheet" href='../static/style.css'/>
    <script type="text/javascript" src="../static/jquery-3.3.1.min.js"></script>
   <!-- <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>-->
  </head>
  <body>
    <h1><center>Airport Bird Deterrent application</center></h1>
    <h3><center><img src="{{ url_for('video_feed') }}" width="54%" height="60%"></center></h3>
    <hr>
<!--	<h4>
		<center>
                    <button id = 'take_pic'>Take a picture</button>
                    <a id = "text">0 picture</a>
		</center>
	</h4> --> 
        <h4>
		<center>
		    <button id = 'speaker'>Click to make a sound</button>
		</center>
	</h4>
<!--    <form action="" method="post">
        	<input type="text" name="angle" /><br /><br />
		<input type="submit" name="Enter" /> 
    </form> --> 
       
       
	<h4> 
	    <center>
	        Turn on Laser<br>
	        Set the time, in seconds, that the laser will be turned on
	        <input type = text size = 5 name = val_switch>
	        <a href = # id = switch>Submit</a>	
	    </center>
	</h4>
 
	<h4> 
	    <center>
	        Turn Laser<br>
	        Please enter a value for the angle:<input type = text size = 5 name = angle_las>
	        <a href = # id = servo_las>Submit</a>
	    </center>	
	</h4>
	
	
	<!-- Haut Bas <br>
		<left>
                       
			<button id = 'but0'>00</button> <button id = 'butl0'>00</button> <br>
			<button id = 'but5'>05</button> <button id = 'butl5'>05</button> <br>
			<button id = 'but10'>10</button> <button id = 'butl10'>10</button> <br>
			<button id = 'but15'>15</button> <button id = 'butl15'>15</button> <br>
			<button id = 'but20'>20</button> <button id = 'butl20'>20</button><br>
			<button id = 'but25'>25</button> <button id = 'butl25'>25</button> <br>
			<button id = 'but30'>30</button> <button id = 'butl30'>30</button> <br>
			<button id = 'but35'>35</button> <button id = 'butl35'>35</button> <br>
			<button id = 'but40'>40</button> <button id = 'butl40'>40</button>  <br>
			<button id = 'but45'>45</button> <button id = 'butl45'>45</button>  <br>
		</left>
        -->
	</h4>

        <h4>
            <center>
                Turn the station <br>
                Please enter an angle:   
               <input type = text size = 5 name = angle>
               <a href = # id = step>Submit</a>
            </center>
        </h4>
        
        <h4> 
            <center>
                Turn the ball launcher<br>
	        Please enter a value for the angle:
	        <input type = text size = 5 name = angle_ball>
	        <a href = # id = servo_ball>Submit</a>
	    </center>
	</h4>
	
	<h4>
	    <center>
		    <button id = 'shoot'>Click to shoot</button>
	    </center>
	</h4>
        

	
    <hr>
    <p>@2019 Developed by Dylan Nina and Leone Mendes</p>
  </body>
  <script type="text/javascript">
        $(document).ready(function() {
            $("#take_pic").click(function() {
                $.getJSON('/pic', function(dat) {
                    $("#text").text(dat['num_pic']);
                });
            });
	    $("#speaker").click(function() {
		$.getJSON('/sound', function(dat) {
		});
	    });	 
	    
	    $("#shoot").click(function() {
		$.getJSON('/shoot', function(dat) {
		});
	    });	   
            
            $('a#switch').on('click', function()  {
                $.getJSON('/switch',{
                val_switch: $('input[name = "val_switch"]').val() 
                }, function(dat) {  
                });
            });
            $('a#step').on('click', function()  {
                $.getJSON('/step',{
                angle: $('input[name = "angle"]').val() 
                }, function(dat) {  
                });
            });
            
            $('a#servo_las').on('click', function()  {
                $.getJSON('/servo_las',{
                angle_las: $('input[name = "angle_las"]').val() 
                }, function(dat) {  
                });
            });
            
            $('a#servo_ball').on('click', function()  {
                $.getJSON('/servo_ball',{
                angle_ball: $('input[name = "angle_ball"]').val() 
                }, function(dat) {  
                });
            });
	    	    	    
	    $("#but0").click(function() {
		$.getJSON('/0', function(dat) {
		});
	    });
	    
	    $("#but5").click(function() {
		$.getJSON('/5', function(dat) {
		});
	    });
	    
	    $("#but10").click(function() {
		$.getJSON('/10', function(dat) {
		});
	    });
	    
	    $("#but15").click(function() {
		$.getJSON('/15', function(dat) {
		});
	    });
	    
	    $("#but20").click(function() {
		$.getJSON('/20', function(dat) {
		});
	    });
	    
	    $("#but25").click(function() {
		$.getJSON('/25', function(dat) {
		});
	    });
	    
	   $("#but30").click(function() {
		$.getJSON('/30', function(dat) {
		});
	    });
	    
	    $("#but35").click(function() {
		$.getJSON('/35', function(dat) {
		});
	    });
	    
	    $("#but40").click(function() {
		$.getJSON('/40', function(dat) {
		});
	    });
	    
	    $("#but45").click(function() {
		$.getJSON('/45', function(dat) {
		});
	    });
	    
	      $("#butl0").click(function() {
		$.getJSON('/l0', function(dat) {
		});
	    });
	      
	      $("#butl5").click(function() {
		$.getJSON('/l5', function(dat) {
		});
	    });
	    
	    $("#butl10").click(function() {
		$.getJSON('/l10', function(dat) {
		});
	    });
	    
	    $("#butl15").click(function() {
		$.getJSON('/l15', function(dat) {
		});
	    });
	    
	    $("#butl20").click(function() {
		$.getJSON('/l20', function(dat) {
		});
	    });
	    
	    $("#butl25").click(function() {
		$.getJSON('/l25', function(dat) {
		});
	    });
	    
	   $("#butl30").click(function() {
		$.getJSON('/l30', function(dat) {
		});
	    });
	    
	    $("#butl35").click(function() {
		$.getJSON('/l35', function(dat) {
		});
	    });
	    
	    $("#butl40").click(function() {
		$.getJSON('/l40', function(dat) {
		});
	    });
	    
	    $("#butl45").click(function() {
		$.getJSON('/l45', function(dat) {
		});
	    });


	});
  </script> </html>
